header.header-nav {
    background-color: #007bff!important;
    border-bottom: 1px solid #007bff!important;
    padding: 0.5rem 0;
}

header.header-nav.stricky-fixed {
    background-color: #007bff!important;
}

header.header-nav a.navbar_brand:before {
    background-color: #007bff!important;
    height: 70px;
}

header.header-nav.menu_style_home_five .sign_up_btn .btn:hover, .sign_up_btn .btn:hover {
    background-color: #3e97f5;
    border: 1px solid #3e97f5;
    color: #ffffff;
}

.btn-thm {
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    padding: 7px 30px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-thm:hover, .btn-thm:active, .btn-thm:focus {
    background-color: transparent;
    border-color: #007bff;
    color: #007bff;
}

.text-thm {
    color: #007bff !important;
}

a.scrollToHome.text-thm:hover {
    color: #007bff !important;
}

.fj_post:hover a.btn {
    background-color: #0c69cc;
    color: #ffffff;
    border-color: #0c69cc;
}

.fj_post.style2:hover {
    border: 1px solid #007bff;
}